.mobile__carousel{
    display: none;
    position: relative;
}

.mobile__carousel .right-arrow{
    position: absolute;
    top:50%;
    right: 0%;
    font-size: 3rem;
    color: var(--white);
    user-select: none;
    z-index: 10;
}

.mobile__carousel .left-arrow{
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 3rem;
    color: var(--white);
    user-select: none;
    z-index: 10;
}