:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

 .hamburger-menu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.hamburger-menu:has(input:checked){
  
}

.hamburger-menu input, 
.hamburger-menu::before,
.hamburger-menu::after{
    content: " ";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: orange;
    color: var(--orange);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), 
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  

.hamburger-menu input:checked{
   opacity: 0;
   width: 0;
}

.sidebar{
  transition: translate var(--animation-timing);
  translate: -100%;
  padding-top: (var(--hamburger-height)+var(--hamburger-margin)+1rem);
  background: yellow;
  /* max-width: 10rem;
  height: 100vh; */
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.hamburger-menu:has(input:checked) + .sidebar{
  translate: 0;
}