

.modal__container{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 30px;
    border: 1px solid ;
    background-color: var(--white);
    min-width: 300px;
    max-width: 400px;
    height: 200px;
    position: absolute;
    top: -2%;
    right: 0;
}

.modal__container img{
    height: 50px;
    width: auto;
}