/* buttons container */

.buttons{
    display: flex;
    gap: 20px;
}

.buttons button{
    border-radius: 8px;
    border: none;
}

.add-to-cart, .quantity__container{
    padding: 10px;
    border-radius: 8px;
}


/* counter button */

.quantity__container{
    background-color: var(--light-grayish-blue);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    justify-items: center;
}





.quantity__container button{
    background-color: transparent;
    color: var(--orange);
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}

/* add to cart button */

.add-to-cart{
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    background-color: var(--orange);
    font-weight: 700;
    box-shadow: 3px 3px 3px hsla(26, 100%, 55%, 0.5);
}

.cart{
    font-size: 1.25em;
}

.add-to-cart:hover{
    opacity: .75;
    box-shadow: 3px 10px 10px hsla(26, 100%, 55%, 0.5);
}



