.buttons{
    display: flex;
    gap: 20px;
    /* max-height: 50px; */
}

.buttons button{
    border-radius: 8px;
    border: none;
}

.quantity__container{
    background-color: var(--light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    border-radius: 8px;
    width: 30%;
}

.quantity__container button{
    background-color: transparent;
    color: var(--orange);
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
}

.add-to-cart{
    cursor: pointer;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    background-color: var(--orange);
    font-weight: 700;
    box-shadow: 3px 3px 3px hsla(26, 100%, 55%, 0.5);
}

.add-to-cart, .more{
    padding: 12px;
}

.cart{
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}



