/* body.active-carousel {
    overflow-y: hidden;
} */

/* main / overlay containers*/

.carousel__container, .carousel__overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel__overlay {
    background: rgba(49,49,49,0.8);
}

/* carousel data */

.carousel__data{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.large__img{
    max-width: 550px;
}

.carousel__thumbnails{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 20px;
    gap: 40px;
}

.carousel__thumbnail{
    max-width: 100px;
}

.active__thumb{
    box-shadow: 0 0 2px 1px var(--orange);
    opacity: .75 ;

}

.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active{
    opacity: 1;
    /* transition-duration: 1s; */
}

/* buttons and arrows */

.close__carousel {
    cursor: pointer;
    position: absolute;
    font-size: 1.5em;
    top: -5%;
    right: -5%;
    padding: 5px 7px;
    color: var(--white);
    z-index: 10;
}

.close__carousel:hover{
    color: var(--orange);
}

.right-arrow{
    position: absolute;
    top:38%;
    right: -5%;
    font-size: 3rem;
    color: var(--white);
    user-select: none;
    z-index: 10;
}

.left-arrow{
    position: absolute;
    top: 38%;
    left: -5%;
    font-size: 3rem;
    color: var(--white);
    user-select: none;
    z-index: 10;
}

.left-arrow:hover,
.right-arrow:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--orange);
}

