.main__container{
    max-width: 1200px;
    margin: 0px auto;
}

@keyframes slide-right {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: 0%;
    }
  }




/* MEDIA QUERIES HURRAY! */

@media screen and (max-width: 950px){
    /* nav bar */

    .main__container .header__container{
        padding: 20px;
    }

    .header__container .left-side__container nav a{
        margin-right: 15px;
    }

    /* product section */
    .main__container .product__container{
       grid-gap: 50px;
    }

    .product__container .details__container {
        padding: 30px 0px;
    }
    .product__container .details__container h3{
         font-size: 2em; 
     }
 }

 @media screen and (max-width: 750px){

    /* mobile navigation */
    .left-side__container .navbar {
        display: none;
    }

    .left-side__container .mobile__nav{
        display: flex;
        align-items: center;
    }

    .left-side__container .mobile__nav .hamburger,
    .left-side__container .mobile__nav .close-icon{
        position: absolute;
        left: 2.5%;
        cursor: pointer;
    }

    .left-side__container .mobile__nav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 118px;
        left: 0;
        width: 40%;
        height: 100vh;
        background-color: var(--white);
        z-index: 10;
        padding: 20px;
        border-top: 1px solid black;
        animation: .5s slide-right;
    }

    .left-side__container .mobile__nav ul a {
        font-weight: 700;
        margin-bottom: 20px;
        padding: 0px;
    }

    .left-side__container .mobile__nav ul a:hover{
        border-bottom: none;
        color: var(--orange);
    }



       /* product section */
       .main__container .product__container{
        grid-template-columns: 1fr;
        padding: 0px;
        gap: 20px;
     }

     .main__container .images__container{
        display: none;
     }

     .main__container .mobile__carousel{
        display: flex;
     }

     .main__container .mobile__carousel img{
        max-width: 100%;
        border-radius: 0px;
     }
 
     .main__container .product__container .details__container {
         display: flex;
         flex-direction: column;
         gap: 20px;
         padding: 10px 40px;
     }
     .product__container .details__container h3{
          font-size: 2em; 
      }
      .product__container .details__container .buttons{
        flex-direction: column;
      }

      .product__container .details__container .buttons .add-to-cart
      {
        width: 100%;
        padding: 15px ;
      }

      /* cart modal */

      .product__container .modal__container {
        width: 50%;
        z-index: 11;
        top: 0%;
        right: 0%;
      }
 }

 @media screen and (max-width: 600px){
    .main__container .header__container .right-side__container .avatar {
        width: 30px;
    }

    .main__container .header__container .right-side__container{
        justify-content: end;
        gap: 20px;
    }

 }